<div class="row">
  <div class="col">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Titulo</label>
        <textarea
          type="text"
          id="titulo"
          formControlName="titulo"
          class="form-control"
          rows="1"
          [ngClass]="{'is-invalid' : titulo().invalid && titulo().touched, 'is-valid':titulo().valid}">
          </textarea>
        <div class="invalid-feedback" *ngIf="titulo().errors?.required && titulo().touched">
          Campo requerido
        </div>
      </div>
      <div class="form-group">
        <label>Cuerpo</label>
        <textarea
          type="text"
          id="cuerpo"
          formControlName="cuerpo"
          class="form-control"
          rows="12"
          [ngClass]="{'is-invalid' : cuerpo().invalid && cuerpo().touched, 'is-valid':cuerpo().valid}">
          </textarea>
        <div class="invalid-feedback" *ngIf="cuerpo().errors?.required && cuerpo().touched">
          Campo requerido
        </div>
      </div>
    </form>
  </div>
</div>