<div class="row">
  <div class="col">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="duda">Duda</label>
        <select id="duda" formControlName="duda" class="custom-select">
          <option *ngIf="nota" value="{{nota.Id}}">{{ nota.Titulo }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="cuerpo">Cuerpo</label>
        <textarea
          type="text"
          id="cuerpo"
          formControlName="cuerpo"
          class="form-control"
          rows="12"
          [ngClass]="{'is-invalid' : cuerpo().invalid && cuerpo().touched, 'is-valid':cuerpo().valid}">
          </textarea>
        <div class="invalid-feedback" *ngIf="cuerpo().errors?.required && cuerpo().touched">
          Campo requerido
        </div>
      </div>
    </form>
  </div>
</div>


