<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center">ReciclaUA</h2>
      <h4 class="text-center">Iniciar sesión</h4>
    </div>

  </div>
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <form (ngSubmit)="onLogin()" [formGroup]="formularioLogin">
        <div class="form-group">
          <label for="email">Correo electrónico:</label>
          <input [ngClass]="{'is-invalid' : formularioLogin.get('email').invalid && formularioLogin.get('email').touched,
              'is-valid' : formularioLogin.get('email').valid && formularioLogin.get('email').touched}"
                 type="email"
                 class="form-control"
                 id="email"
                 formControlName="email"
                 placeholder="fdlc4@alu.ua.es">
        </div>
        <div class="form-group">
          <label for="pwd">Contraseña:</label>
          <input [ngClass]="{'is-invalid' : formularioLogin.get('pwd').invalid && formularioLogin.get('pwd').touched,
              'is-valid' : formularioLogin.get('pwd').valid && formularioLogin.get('pwd').touched}"
                 type="password"
                 class="form-control"
                 id="pwd"
                 formControlName="pwd"
                 placeholder="Enter password">
        </div>
        <div class="row">
          <div class="col">
            <a  [routerLink]="['/recuperarcontrasena']"> ¿Has olvidado tu contraseña?</a>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary float-right" [disabled]="formularioLogin.invalid">Iniciar sesión</button>
          </div>

        </div>
        <div class="row">
          <div class="alert alert-danger" *ngIf="error">
            <strong>Error!</strong> Las credenciales introducidas no son correctas.
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
