<div  class="login">
  <div class="container">
    <h2 class="text-center">ReciclaUA</h2>
    <h4 class="text-center">Iniciar sesión</h4>
    <form (ngSubmit)="onLogin()" #frmLogin="ngForm">
      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" class="form-control" id="email" placeholder="fdlc4@alu.ua.es" ngModel name="email" required
               email #email="ngModel">
        <span class="help-block" style="color: red;"
              *ngIf="!email.valid && email.touched"> Correo electrónico no valido</span>
      </div>
      <div class="form-group">
        <label for="pwd">Contraseña:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" ngModel name="contrasena"
               required #contrasena="ngModel">
        <span class="help-block" style="color: red;" *ngIf="!contrasena.valid && contrasena.touched"> Contraseña no valida</span>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="frmLogin.invalid">Iniciar sesión</button>
      <p>¿Necesitas una cuenta?<a class="link" [routerLink]="['registro']" > Registrate aquí</a></p>
    </form>
  </div>
</div>
