<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-9">
            <h1>Lista de estancias</h1>
        </div>
        <div class="col-md-3">
            <h1><button class="btn btn-outline-primary float-right mt-2" (click)="add()" data-toggle="modal" #showModel
                    data-target="#exampleModal"><i class="fa fa-plus"></i> Añadir nueva estancia</button></h1>
        </div>
    </div>
  <hr>
    <!-- tabla de estancias ([dtTrigger]="dtTrigger")  *ngIf="estancias !=null"-->

    <div class="row">
        <div class="col">
            <table class="table table-striped text-center" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Actividad</th>
                        <th scope="col" class="d-none d-md-table-cell">Latitud</th>
                        <th scope="col" class="d-none d-md-table-cell">Longitud</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of estancias">
                        <td>{{item.Id}}</td>
                        <td>{{item.Actividad}}</td>
                        <td>{{item.Latitud}}</td>
                        <td>{{item.Longitud}}</td>
                        <td>{{item.Nombre}}</td>

                        <td>
                            <div class="btn-group">
                                <button class="btn btn-outline-success" (click)="getEstanciaById(item.Id)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-outline-danger" (click)="delete(item.Id)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="exampleModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Estancia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <form #form="ngForm">

                    <div class="form-group">

                        <label for="Id">ID:</label>

                        <input type="text" class="form-control" id="Id" name="Id" #Id [(ngModel)]="estancia.Id" ngModel
                            required>
                        <div *ngIf="Id.touched && !Id.valid">
                            <small class="text-danger">ID es obligatorio</small>
                        </div>

                    </div>

                    <div class="form-group">

                        <label for="Actividad">Actividad:</label>

                        <input type="text" class="form-control" id="Actividad" name="Actividad" #Actividad
                            [(ngModel)]="estancia.Actividad" ngModel required>
                        <div *ngIf="Actividad.touched && !Actividad.valid">
                            <small class="text-danger">Actividad es obligatorio</small>
                        </div>

                    </div>
                    <div class="form-group">

                        <label for="Latitud">Latitud:</label>

                        <input type="text" class="form-control" id="Latitud" name="Latitud" #Latitud
                            [(ngModel)]="estancia.Latitud" ngModel required
                            [ngClass]="{'is-invalid': !Latitud.valid && Latitud.touched, 'is-valid': Latitud.valid}">
                        <div *ngIf="Latitud.touched && !Latitud.valid" class="invalid-feedback">
                            Latitud es obligatorio
                        </div>

                    </div>
                    <div class="form-group">

                        <label for="Longitud">Longitud:</label>

                        <input type="text" class="form-control" id="Longitud" name="Longitud" #Longitud
                            [(ngModel)]="estancia.Longitud" ngModel required>
                        <div *ngIf="Longitud.touched && !Longitud.valid">
                            <small class="text-danger">Longitud es obligatorio</small>
                        </div>

                    </div>
                    <div class="form-group">

                        <label for="Nombre">Nombre:</label>

                        <input type="text" class="form-control" id="Nombre" name="Nombre" #Nombre
                            [(ngModel)]="estancia.Nombre" ngModel required>
                        <div *ngIf="Nombre.touched && !Nombre.valid">
                            <small class="text-danger">Nombre es obligatorio</small>
                        </div>

                    </div>

                    <div class="form-group">

                        <label for="Edificio">Edificio</label>

                        <select class="form-control" id="Edificio" required name="Edificio" #Edificio="ngModel"
                            [(ngModel)]="estancia.Edificio_oid">
                            <option value="">Elije un Edificio:</option>
                            <option *ngFor="let item of edificio" [value]="item.Id">{{item.Nombre}}</option>
                        </select>

                        <div *ngIf="Edificio.touched && !Edificio.valid">
                            <small class="text-danger">Edificio es obligatorio</small>
                        </div>

                    </div>

                    <div class="form-group">

                        <label for="Planta">Planta</label>

                        <select class="form-control" id="Planta" required name="Planta" #Planta="ngModel"
                            [(ngModel)]="estancia.Planta_oid">
                            <option value="">Elije una Planta:</option>
                            <option *ngFor="let item of planta" [value]="item.Id">{{item.Planta}}</option>
                        </select>

                        <div *ngIf="Planta.touched && !Planta.valid">
                            <small class="text-danger">Planta es obligatorio</small>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="submit(form)" [disabled]="!form.valid">
                    Guardar EStancia </button>
            </div>
        </div>
    </div>
</div>
