<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-9">
      <h1>Ranking de usuarios</h1>
    </div>

  </div>
  <hr>
  <div class="row">
    <div class="col">
      <table class="table table-striped text-center" datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th class="d-none d-md-table-cell" scope="col">Email</th>
          <th class="d-none d-md-table-cell" scope="col">Nompre</th>
          <th class="d-none d-md-table-cell" scope="col">Apellidos</th>
          <th scope="col">Puntuación</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let usuario of usuarios;let contador=index">
            <th>{{contador + 1}}</th>
            <td>{{usuario.Id}}</td>
            <td class="d-none d-md-table-cell">{{usuario.Email}}</td>
            <td class="d-none d-md-table-cell">{{usuario.Nombre | titlecase}}</td>
            <td class="d-none d-md-table-cell">{{usuario.Apellidos}}</td>
            <td>{{usuario.Puntuacion}}</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
