<div id="content" *ngIf="!router.url.includes('login')">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand" [routerLink]="['/home']">ReciclaUA</a>

      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-link" [routerLink]="['/home']">
            Inicio
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="UsuariosnavbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Usuarios
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/usuario/administrador/listar']" class="dropdown-item">Usuarios administrador</a>
            </li>
            <li><a [routerLink]="['/usuario/web/listar']" class="dropdown-item">Usuarios web</a></li>
            <li><a [routerLink]="['/usuario/ranking']" class="dropdown-item">Ranking de usuarios</a></li>
            <li><a [routerLink]="['/usuario/administrador/' + usuario?.Id]" class="dropdown-item">Perfil</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="ForonavbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Foro
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/foro/duda/listar']" class="dropdown-item">Dudas</a>
            <a [routerLink]="['/foro/respuesta/listar']" class="dropdown-item">Respuestas</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="JuegonavbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Juego
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/juego/item/listar']" class="dropdown-item">Items</a>
            <a [routerLink]="['/juego/material/listar']" class="dropdown-item">Materiales</a>
            <a [routerLink]="['/juego/nivel/listar']" class="dropdown-item">Niveles</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="EstancianavbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Estancias
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/ubicacion/estancia/listar']" class="dropdown-item">Estancias</a>
            <a [routerLink]="['/ubicacion/edificio/listar']" class="dropdown-item">Edificios</a>
            <a [routerLink]="['/ubicacion/planta/listar']" class="dropdown-item">Plantas</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="PuntosnavbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Puntos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/punto/listar']" class="dropdown-item">Puntos de reciclaje</a>
            <a [routerLink]="['/contenedor/listar']" class="dropdown-item">Contenedores</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="AccionesnavbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Acciones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/accion/reciclar/listar']" class="dropdown-item">Acciones reciclaje</a>
            <a [routerLink]="['/accion/web/listar']" class="dropdown-item">Acciones web</a>
            <a [routerLink]="['/accion/tipo/listar']" class="dropdown-item">Tipos de acciones web</a>
          </div>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/nota/listar']">
            Notas
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <a type="button" (click)="logout()" class="btn btn-danger"><i class="fa fa-power-off"></i></a>
      </ul>
    </div>
  </nav>
</div>
