<div id="content">
  <nav class="navbar navbar-expand-xl navbar-dark bg-primary">
    <div>
      <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
              [attr.aria-expanded]="!isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand ml-2" [routerLink]="['/home']">ReciclaUA</a>
    </div>
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="UsuariosnavbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Usuarios
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/usuario/administrador/listar']" class="dropdown-item">Usuarios administrador</a>
            </li>
            <li><a [routerLink]="['/usuario/web/listar']" class="dropdown-item">Usuarios web</a></li>
            <li><a [routerLink]="['/usuario/ranking']" class="dropdown-item">Ranking de usuarios</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="ForonavbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Foro
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/foro/duda/listar']" class="dropdown-item">Dudas</a>
            <a [routerLink]="['/foro/respuesta/listar']" class="dropdown-item">Respuestas</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="JuegonavbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Juego
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/juego/item/listar']" class="dropdown-item">Ítems</a>
            <a [routerLink]="['/juego/material/listar']" class="dropdown-item">Materiales</a>
            <a [routerLink]="['/juego/nivel/listar']" class="dropdown-item">Niveles</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="EstancianavbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Estancias
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/ubicacion/estancia/listar']" class="dropdown-item">Estancias</a>
            <a [routerLink]="['/ubicacion/edificio/listar']" class="dropdown-item">Edificios</a>
            <a [routerLink]="['/ubicacion/planta/listar']" class="dropdown-item">Plantas</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="PuntosnavbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Puntos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/punto/listar']" class="dropdown-item">Puntos de reciclaje</a>
            <a [routerLink]="['/contenedor/listar']" class="dropdown-item">Contenedores</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="AccionesnavbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Acciones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/accion/reciclar/listar']" class="dropdown-item">Acciones reciclaje</a>
            <a [routerLink]="['/accion/web/listar']" class="dropdown-item">Acciones web</a>
            <a [routerLink]="['/accion/tipo/listar']" class="dropdown-item">Tipos de acciones web</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/nota/listar']">
            Notas
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="checkValidations">
          <a class="nav-link dropdown-toggle" href="#" id="ValidacionesDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Validaciones
            <span class="badge badge-pill badge-dark">
              {{ notificacionesItems + notificacionesMateriales + notificacionesPuntos }}
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLink]="['/validar/items']" class="dropdown-item">
              Ítems <span *ngIf="notificacionesItems > 0"
                          class="badge badge-pill badge-dark float-right mt-1">{{ notificacionesItems }}</span>
            </a>
            <a [routerLink]="['/validar/puntos']" class="dropdown-item">
              Puntos <span *ngIf="notificacionesPuntos > 0"
                           class="badge badge-pill badge-dark float-right mt-1">{{ notificacionesPuntos }}</span>
            </a>
            <a [routerLink]="['/validar/materiales']" class="dropdown-item">
              Materiales <span *ngIf="notificacionesMateriales > 0"
                               class="badge badge-pill badge-dark float-right mt-1">{{ notificacionesMateriales }}</span>
            </a>
            <div class="dropdown-divider"></div>
            <a [routerLink]="['/validaciones']" class="dropdown-item">Todas</a>
          </div>
        </li>
      </ul>
    </div>
    <ul *ngIf="isCollapsed" class="navbar-nav dropdown-menu-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="UserDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          {{ usuario?.Nombre }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a [routerLink]="['/perfil']" class="dropdown-item">Perfil</a>
          <a [routerLink]="['/perfil/modificar']" class="dropdown-item">Modificar Perfil</a>
          <a [routerLink]="['/usuario/cambiarcontrasena']" class="dropdown-item">Cambiar contraseña</a>
          <div class="dropdown-divider"></div>
          <button href="#" (click)="logout()" class="dropdown-item">Cerrar sesión</button>
        </div>
      </li>
    </ul>
  </nav>
</div>
