<div class="row">
  <div class="col">
    <table *ngIf="respuestas" class="table table-striped text-center">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cuerpo</th>
        <th scope="col" class="d-none d-md-table-cell">Votos</th>
        <th scope="col" class="d-none d-md-table-cell">Correcta</th>
        <th scope="col" class="d-none d-md-table-cell">Usuario</th>
        <th scope="col" class="d-none d-md-table-cell">Fecha</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let respuesta of respuestas">
        <th scope="row">{{ respuesta.Id }}</th>
        <td>{{ respuesta.Cuerpo }}</td>
        <td class="d-none d-md-table-cell">{{ respuesta.Util }}</td>
        <td class="d-none d-md-table-cell">{{ respuesta.EsCorrecta }}</td>
        <td class="d-none d-md-table-cell">{{ respuesta.UsuarioRespuesta ? respuesta.UsuarioRespuesta.Email : 'Null' }}</td>
        <td class="d-none d-md-table-cell">{{ respuesta.Fecha | date: 'dd/MM/yyyy - hh:mm'}}</td>
        <td>
          <div class="btn-group">
            <button class="icon"><i class="fa fa-eye"></i></button>
            <button class="icon"><i class="fa fa-edit"></i></button>
            <button class="icon"><i class="fa fa-trash"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="!respuestas" class="alert alert-info">
      No hay respuestas actualmente
    </div>
  </div>
