<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>Lista de Puntos</h1>
        </div>
        <div class="col-md-3">
            <h1><button class="btn btn-outline-primary float-right mt-2" (click)="add()" data-toggle="modal" #showModel
                    data-target="#exampleModal"><i class="fa fa-plus"></i> Añadir nuevo punto</button></h1>
        </div>
    </div>

    <!-- tabla de puntos de reciclaje ([dtTrigger]="dtTrigger")  -->

    <div class="row">
        <div class="col">
            <table class="table table-striped text-center" datatable [dtOptions]="dtOptions" *ngIf="puntos !=null">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col" class="d-none d-md-table-cell">Latitud</th>
                        <th scope="col" class="d-none d-md-table-cell">Longitud</th>
                        <th scope="col">Validez</th>

                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of puntos">
                        <td>{{item.Id}}</td>
                        <td>{{item.Latitud}}</td>
                        <td>{{item.Longitud}}</td>
                        <td>{{item.EsValido}}</td>

                        <td>
                            <div class="btn-group">
                                <button class="btn btn-outline-success" (click)="getPuntoById(item.Id)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-outline-danger" (click)="delete(item.Id)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="exampleModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Punto de Reciclaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form #form="ngForm">

                    <div class="form-group">

                        <label for="Latitud" class="col-form-label">Latitud</label>

                        <input type="text" class="form-control" id="Latitud" name="Latitud" #Latitud
                            [(ngModel)]="punto.Latitud" ngModel required>
                        <div *ngIf="Latitud.touched && !Latitud.valid">
                            <small class="text-danger">Latitud es obligatorio</small>
                        </div>

                    </div>
                    <div class="form-group">

                        <label for="Longitud" class="col-form-label">Longitud</label>

                        <input type="text" class="form-control" id="Longitud" name="Longitud" #Longitud
                            [(ngModel)]="punto.Longitud" ngModel required>
                        <div *ngIf="Longitud.touched && !Longitud.valid">
                            <small class="text-danger">Longitud es obligatorio</small>
                        </div>

                    </div>

                    <div class="form-group">

                        <label for="Estancia" class="col-form-label">Estancia</label>

                        <select class="form-control" id="Estancia" required name="Estancia" #Estancia="ngModel"
                            [(ngModel)]="punto.Estancia_oid">
                            <option value="">Elije una Estancia</option>
                            <option *ngFor="let item of estancia" [value]="item.Id">{{item.Nombre}}</option>
                        </select>

                        <div *ngIf="Estancia.touched && !Estancia.valid">
                            <small class="text-danger">Planta es obligatorio</small>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="submit(form)" [disabled]="!form.valid">Guardar
                    Punto</button>
            </div>
        </div>
    </div>
</div>