<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-9">
            <h1>Listado de puntos de reciclaje</h1>
        </div>
        <div class="col-md-3">
            <h1><button class="btn btn-outline-primary float-right mt-2" (click)="add(form)" data-toggle="modal"
                    #showModel data-target="#exampleModal"><i class="fa fa-plus"></i> Añadir nuevo punto</button></h1>
        </div>
    </div>

    <!-- tabla de puntos de reciclaje ([dtTrigger]="dtTrigger")  -->

    <div class="row">
        <div class="col">
            <table class="table table-striped text-center" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col" class="d-none d-md-table-cell">Latitud</th>
                        <th scope="col" class="d-none d-md-table-cell">Longitud</th>
                        <th scope="col">Estado</th>

                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of puntos">
                        <td>{{item.Id}}</td>
                        <td>{{item.Latitud}}</td>
                        <td>{{item.Longitud}}</td>
                        <td>{{validacionService.getEstadoById(item.EsValido).Estado}}</td>

                        <td>
                            <div class="btn-group">
                                <button class="btn btn-outline-success" title="Editar" (click)="getPuntoById(item.Id)">
                                    <i class="fa fa-edit"></i>
                                </button>

                                <button class="btn btn-outline-danger" title="Borrar" (click)="delete(item.Id)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="exampleModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" *ngIf="isEdit==false;else EditTitle">Añadir punto de reciclaje</h5>
                <ng-template #EditTitle>
                    <h5 class="modal-title">Modificar punto de reciclaje</h5>
                </ng-template>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form #form="ngForm">

                    <div class="form-group">
                        <label for="Latitud">Latitud:</label>
                        <input type="text"
                            [ngClass]="{'is-invalid': Latitud.touched && !Latitud.valid,'is-valid': Latitud.valid}"
                            type="number" [(ngModel)]="punto.Latitud" required class="form-control" id="Latitud"
                            name="Latitud" #Latitud="ngModel">
                        <div *ngIf="Latitud.touched && !Latitud.valid">
                            <small class="text-danger">Campo requerido</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Longitud">Longitud:</label>
                        <input type="text"
                            [ngClass]="{'is-invalid': Longitud.touched && !Longitud.valid,'is-valid': Longitud.valid}"
                            type="number" [(ngModel)]="punto.Longitud" required class="form-control" id="Longitud"
                            name="Longitud" #Longitud="ngModel">
                        <div *ngIf="Longitud.touched && !Longitud.valid">
                            <small class="text-danger">Campo requerido</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Estancia">Estancia:</label>
                        <select class="browser-default custom-select" id="Estancia" required name="Estancia"
                            [ngClass]="{'is-invalid': Estancia.touched && !Estancia.valid,'is-valid': Estancia.valid}"
                            #Estancia="ngModel" [(ngModel)]="punto.Estancia_oid">
                            <option value="" disabled selected>Elije una estancia</option>
                            <option *ngFor="let item of estancia" [value]="item.Id">{{item.Nombre}}</option>
                        </select>
                        <div *ngIf="Estancia.touched && !Estancia.valid">
                            <small class="text-danger">Campo requerido</small>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button *ngIf="isEdit==false;else EditTitleBtn" type="button" class="btn btn-primary float-right"
                    (click)="submit(form)" [disabled]="!form.valid">Añadir</button>
                <ng-template #EditTitleBtn>
                    <button type="button" class="btn btn-primary float-right" (click)="submit(form)"
                        [disabled]="!form.valid">Modificar</button>
                </ng-template>
            </div>

        </div>
    </div>
</div>