<div class="container">
  <!-- titulo -->
  <div class="row">
    <div class="col">
      <h1>Listado de respuestas</h1>
    </div>
    <div *ngIf="dudaId" class="col">
      <button class="btn btn-outline-primary float-right mt-2" (click)="addRespuesta(modalForm)">
        <i class="fa fa-plus"></i> Añadir nueva respuesta
      </button>
    </div>
  </div>
  <hr/>
  <!-- tabla de lista-respuestas -->
  <div class="row">
    <div class="col">
      <table class="table table-striped text-center" datatable [dtTrigger]="dtTrigger">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <!-- th scope="col" class="d-none">Cuerpo</th-->
          <th scope="col" class="d-none d-md-table-cell">Votos</th>
          <th scope="col" class="d-none d-md-table-cell">Correcta</th>
          <th scope="col">Usuario</th>
          <!--th scope="col" class="d-none d-md-table-cell">Fecha</th-->
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let respuesta of respuestas">
          <th scope="row">{{ respuesta.Id }}</th>
          <!-- td class="d-none">{{ respuesta.Cuerpo }}</td-->
          <td class="d-none d-md-table-cell">{{ respuesta.Util }}</td>
          <td class="d-none d-md-table-cell">{{ respuesta.EsCorrecta }}</td>
          <td>{{ respuesta.UsuarioRespuesta?.Email ? respuesta.UsuarioRespuesta?.Email : 'Usuario borrado' }}</td>
          <!--td class="d-none d-md-table-cell">{{ respuesta.Fecha | date: 'dd/MM/yyyy - hh:mm'}}</td-->
          <td>
            <div class="btn-group">
              <button class="btn btn-outline-info" (click)="showRespuesta(respuesta, modalDetail)"><i
                class="fa fa-eye"></i></button>
              <button class="btn btn-outline-success" (click)="modRespuesta(respuesta, modalForm)"><i
                class="fa fa-edit"></i></button>
              <button class="btn btn-outline-danger" (click)="deleteRespuesta(respuesta)"><i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <!-- div *ngIf="!respuestas" class="alert alert-info">
        No hay respuestas actualmente
      </div-->
    </div>
  </div>
</div>

<ng-template #modalDetail let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ duda?.Titulo }}</h5>
      <button type="button" class="close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-wrap text-break">
      <p><i>{{ duda?.Cuerpo }}</i></p>
    </div>
  </div>
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title">RE: {{ duda?.Titulo }}</h6>
    </div>
    <div class="modal-body text-wrap text-break">
      <p>{{ respuesta?.Cuerpo }}</p>
    </div>
    <div class="modal-footer text-muted text-right">
      {{ respuesta.UsuarioRespuesta?.Nombre ? respuesta.UsuarioRespuesta?.Nombre : 'Usuario borrado' }}
      <br>
      {{ respuesta.Fecha | date: 'hh:mm, dd/MM/yyyy'}}
    </div>
  </div>
</ng-template>

<ng-template #modalForm let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ edit ? 'Modificar duda' : 'Añadir duda' }}</h5>
      <button type="button" class="close" (click)="modal.dismiss(modalForm)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-form-respuesta-modal #form [dudaId]="dudaId"
                                [respuestaId]="edit? respuesta.Id : null"></app-form-respuesta-modal>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="edit? editarSubmit(form, modal) : crearSubmit(form, modal)"
              [disabled]="form.formulario.invalid">
        {{ edit ? 'Modificar' : 'Añadir' }}
      </button>
    </div>
  </div>
</ng-template>
