<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>Lista de Plantas</h1>
        </div>
        <div class="col-md-3">
            <h1><button class="btn btn-outline-primary float-right mt-2" (click)="add()" data-toggle="modal" #showModel
                    data-target="#exampleModal"><i class="fa fa-plus"></i> Añadir nueva planta </button></h1>
        </div>
    </div>

    <!-- tabla de plantas ([dtTrigger]="dtTrigger")  -->
    <div class="row">
        <div class="col">
            <table class="table table-striped text-center" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" *ngIf="plantas !=null">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Número de Planta</th>

                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of plantas">
                        <td>{{item.Id}}</td>
                        <td>{{item.Planta}}</td>

                        <td>
                            <div class="btn-group">
                                <button class="btn btn-outline-success" (click)="getPlantaById(item.Id)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-outline-danger" (click)="delete(item.Id)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="exampleModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Planta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-1">
            </div>

            <div class="col-10">
                <div class="modal-body">
                    <form #form="ngForm">

                        <div class="form-group">

                            <div class="row">
                                <label for="Planta" class="col-form-label">Número de Planta:</label>
                            </div>

                            <div class="row">
                                <input type="text" class="form-control" id="Planta" name="Planta" #Planta
                                    [(ngModel)]="planta.Planta" ngModel required>
                                <div *ngIf="Planta.touched && !Planta.valid">
                                    <small class="text-danger">Número de Planta es obligatorio</small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label for="Edificio" class="col-form-label">Edificio:</label>
                            </div>
                            <div class="row">

                                <select class="form-control" id="Edificio" required name="Edificio" #Edificio="ngModel"
                                    [(ngModel)]="planta.Edificio_oid">
                                    <option value="">Elije una Edificio</option>
                                    <option *ngFor="let item of edificio" [value]="item.Id">{{item.Nombre}}</option>
                                </select>

                                <div *ngIf="Edificio.touched && !Edificio.valid">
                                    <small class="text-danger">Edificio es obligatorio</small>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

            <div class="col-1">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="submit(form)" [disabled]="!form.valid">Guardar
                    Planta
                </button>
            </div>
        </div>
    </div>
</div>