<app-navbar></app-navbar>
<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h3>Perfil usuario: {{usuario?.Id}}</h3>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-secondary" [routerLink]="['/usuario/cambiarcontrasena/' + usuarioId]">Cambiar contraseña</button>
          <button class="icon btn btn-warning" [routerLink]="['/modificarusuario/' + tipousuario + '/' + usuarioId]"><i class="fa fa-edit"></i></button>
          <button class="icon btn btn-danger" (click)="borrarUsuario()"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class=" col-2">
            <b>Nombre: </b>
          </div>
          <div class=" col">
            {{usuario?.Nombre}}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class=" col-2">
            <b>Apellidos: </b>
          </div>
          <div class=" col">
            {{usuario?.Apellidos}}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class=" col-2">
            <b>Email: </b>
          </div>
          <div class=" col">
            {{usuario?.Email}}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class=" col-2">
            <b>Fecha de creación: </b>
          </div>
          <div class=" col">
            {{usuario?.Fecha | date: 'hh:mm, dd/MM/yyyy'}}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class=" col-2">
            <b>Email verificado: </b>
          </div>
          <div class=" col">
            {{usuario?.EmailVerificado}}
          </div>
        </div>
      </li>
      <li class="list-group-item" *ngIf="usuario?.Puntuacion >= 0">
        <div class="row">
          <div class=" col-2">
            <b>Puntuación: </b>
          </div>
          <div class=" col">
            {{usuario?.Puntuacion}}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>


