<table class="table table-striped text-center" datatable [dtTrigger]="dtTrigger">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Nombre</th>
    <th scope="col">Contenedor</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let material of materiales">
    <th scope="row">{{ material.Id }}</th>
    <td>{{ material.Nombre }}</td>
    <td>{{ getTipoContenedor(material?.Contenedor)?.Tipo }}</td>
    <td>
      <div class="btn-group">
        <button class="btn btn-outline-success" data-toggle="tooltip" title="Validar" (click)="validarMaterial(material)"><i class="fa fa-check"></i></button>
        <button class="btn btn-outline-danger" data-toggle="tooltip" title="Descartar" (click)="descartarMaterial(material)"><i class="fa fa-times"></i></button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
