<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <a type="button" [routerLink]="['/usuariocrear/'+ tipousuario]" class="btn btn-primary">Crear
      usuario {{tipousuario}}</a>
  </div>
  <br>
  <div class="row">
    <form (ngSubmit)="onSearch()" [formGroup]="formularioBuscar">
      <div class="row">
        <div>
          <label for="id">ID:</label>
        </div>
        <div class="col">
          <input
            [ngClass]="{'is-invalid' : formularioBuscar.get('id').invalid && formularioBuscar.get('id').touched,
              'is-valid' : formularioBuscar.get('id').valid && formularioBuscar.get('id').touched}"
            type="number"
            class="form-control"
            formControlName="id"
            id="id"
          >
          <span class="help-block" style="color: red;"
                *ngIf="!formularioBuscar.get('id').valid && formularioBuscar.get('id').touched"> Id no valido</span>

        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary" [disabled]="formularioBuscar.invalid">Buscar</button>

        </div>

      </div>

    </form>
  </div>
  <br>
  <div class="row" *ngIf="usuarios?.length > 0; else listnull">
    <div class="col">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="th-sm" scope="col">ID</th>
          <th class="th-sm" scope="col">Email</th>
          <th class="th-sm" scope="col">Nompre</th>
          <th class="th-sm" scope="col">Apellidos</th>
          <th class="th-sm" scope="col">Modificar</th>
          <th class="th-sm" scope="col">Borrar</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let usuario of usuarios">
          <ng-template [ngIf]="!usuario.Borrado">
            <td>{{usuario.Id}}</td>
            <td><a [routerLink]="['/usuario/' + tipousuario + '/' + usuario.Id]">{{usuario.Email}}</a></td>
            <td>{{usuario.Nombre | titlecase}}</td>
            <td>{{usuario.Apellidos}}</td>
            <td>
              <button class="icon" (click)="modificarUsuario(usuario.Id)"><i class="fa fa-edit"></i></button>
            </td>
            <td>
              <button class="icon" (click)="borrarUsuario(usuario.Id)"><i class="fa fa-trash"></i></button>
            </td>
          </ng-template>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #listnull><p>No existe ningún usuario con esas restricciones</p></ng-template>
</div>
