<app-navbar></app-navbar>
<div class="container">

  <!-- titulo -->
  <div class="row">
    <div class="col">
      <h1>Listado de usuarios {{tipousuario}}</h1>
    </div>
  </div>

  <!-- botón crear -->
  <div class="row">
    <a type="button" [routerLink]="['/usuariocrear/'+ tipousuario]" class="btn btn-primary">Crear
      usuario {{tipousuario}} <i class="fa fa-plus"></i></a>
  </div>
  <br>

  <!-- tabla de lista-usuarios -->
  <div class="row" >
    <div class="col">
      <table *ngIf="usuarios" class="table table-striped text-center" datatable >
        <thead>
        <tr>
          <th class="d-none d-md-table-cell" scope="col">ID</th>
          <th class="d-none d-md-table-cell" scope="col">Email</th>
          <th class="d-none d-md-table-cell" scope="col">Nompre</th>
          <th class="d-none d-md-table-cell" scope="col">Apellidos</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let usuario of usuarios" >
            <th scope="row">{{usuario.Id}}</th>
            <td class="d-none d-md-table-cell">{{usuario.Email}}</td>
            <td class="d-none d-md-table-cell">{{usuario.Nombre | titlecase}}</td>
            <td class="d-none d-md-table-cell">{{usuario.Apellidos}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-outline-info" (click)="mostrarUsuario(usuario.Id)" ><i class="fa fa-info-circle"></i></button>
                <button class="btn btn-outline-success" (click)="modificarUsuario(usuario.Id)"><i class="fa fa-edit"></i></button>
                <button class="btn btn-outline-danger" (click)="borrarUsuario(usuario.Id)"><i class="fa fa-trash"></i></button>
              </div>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="!usuarios" class="alert alert-info">
    No hay usuarios actualmente
  </div>
</div>
