<div class="row">
  <div class="col">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Nombre:</label>
        <textarea
          type="text"
          id="nombre"
          formControlName="nombre"
          class="form-control"
          rows="1"
          [ngClass]="{'is-invalid' : nombre().invalid && nombre().touched, 'is-valid':nombre().valid}">
          </textarea>
        <div class="invalid-feedback" *ngIf="nombre().errors?.required && nombre().touched">
          Campo requerido
        </div>
      </div>
      <div class="form-group">
        <label>Puntuación:</label>
        <input
          type="number"
          id="puntuacion"
          formControlName="puntuacion"
          class="form-control"
          rows="1"
          [ngClass]="{'is-invalid' : puntuacion().invalid && puntuacion().touched, 'is-valid':puntuacion().valid}"/>
        <div class="invalid-feedback" *ngIf="puntuacion().errors?.required && puntuacion().touched">
          Campo requerido
        </div>
      </div>
    </form>
  </div>
</div>


