<div class="container-fluid pt-2 pb-2">
  <div class="row ">
    <div class="col-md-3 col-xs-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-3"><i class="fa fa-users fa-3x"></i></div>
            <div class="col">
              <h6 class="card-subtitle text-muted"> Número de usuarios:</h6>
              <h2 class="card-title text-center">{{countUsuarios}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-3"><i class="fa fa-trash fa-3x"></i></div>
            <div class="col">
              <h6 class="card-subtitle text-muted"> Número de puntos:</h6>
              <h2 class="card-title text-center">{{countPuntos}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-3"><i class="fa fa-level-up fa-3x"></i></div>
            <div class="col">
              <h6 class="card-subtitle text-muted"> Número de niveles:</h6>
              <h2 class="card-title text-center">{{countNiveles}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-3"><i class="fa fa-question fa-3x"></i></div>
            <div class="col">
              <h6 class="card-subtitle text-muted"> Número de dudas:</h6>
              <h2 class="card-title text-center">{{countDudas}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2">
      <h1>
        Estadísticas
      </h1>
    </div>
  </div>
  <div class="row">

    <div class="col-md-4">
      <app-foro-chart></app-foro-chart>
    </div>
    <div class="col-md-4">
      <app-juego-bar-chart></app-juego-bar-chart>
    </div>
    <div class="col-md-4">
      <app-estancia-chart></app-estancia-chart>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h1>Puntos de reciclaje</h1>
    </div>
    <div class="col-md-6">
      <app-mapa-puntos *ngIf="puntos" [puntos]="puntos"></app-mapa-puntos>
    </div>
  </div>
</div>
