<app-navbar></app-navbar>
<div class="container">
  <h4 class="text-center">Cambiar contraseña</h4>
  <form (ngSubmit)="changePass()" #frmchange="ngForm">
    <div class="form-group">
      <label for="pwd">Contraseña nueva:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" ngModel name="contrasena"
             required #contrasena="ngModel">
      <span class="help-block" style="color: red;"
            *ngIf="!contrasena.valid && contrasena.touched"> Contraseña no valida</span>
    </div>
    <div class="form-group">
      <label for="pwd2">Confirma la nueva contraseña:</label>
      <input type="password" class="form-control" id="pwd2" ngModel name="contrasena2"
             required #contrasena2="ngModel">
      <div>
              <span class="help-block" style="color: red;"
                    *ngIf="!contrasena2.valid && contrasena2.touched "> Contraseña no valida</span>
      </div>
      <span class="help-block" style="color: red;"
            *ngIf="contrasena.value != contrasena2.value && contrasena2.touched && contrasena.touched "> Las contraseñas no coinciden</span>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="frmchange.invalid || contrasena.value != contrasena2.value">Cambiar</button>
    <div class="alert alert-success" *ngIf="cambiado">
      <strong>Exito!</strong> La contraseña se ha cambiado, revisa el correo electrónico {{usuario?.Email}}.
    </div>
    <div class="alert alert-danger" *ngIf="error">
      <strong>Error!</strong> La contraseña NO se ha podido cambiar. Revise si el correo es correcto.
    </div>
  </form>
</div>
