<app-navbar></app-navbar>
<div class="container">
  <h4 class="text-center">Cambiar contraseña</h4>
  <form (ngSubmit)="changePass()" [formGroup]="formularioCambiar">
    <div>
      <label for="pwd">Contraseña:</label>
      <input
        [ngClass]="{'is-invalid' : formularioCambiar.get('pwd').invalid && formularioCambiar.get('pwd').touched,
              'is-valid' : formularioCambiar.get('pwd').valid && formularioCambiar.get('pwd').touched}"
        type="password"
        class="form-control"
        id="pwd"
        formControlName="pwd"
        placeholder="Enter password">
      <span class="help-block" style="color: red;"
            *ngIf="!formularioCambiar.get('pwd').valid && formularioCambiar.get('pwd').touched"> Contraseña demasiado sencilla debe contener : mayúscula, minúscula, número, caracter especial (@$!%*?&-_) y 8 caracteres </span>
    </div>
    <div>
      <label for="pwd">Contraseña:</label>
      <input
        [ngClass]="{'is-invalid' : formularioCambiar.get('pwd2').invalid && formularioCambiar.get('pwd2').touched,
              'is-valid' : formularioCambiar.get('pwd2').valid && formularioCambiar.get('pwd2').touched}"
        type="password"
        class="form-control"
        id="pwd2"
        formControlName="pwd2"
        placeholder="Enter password">
      <span class="help-block" style="color: red;"
            *ngIf="formularioCambiar.get('pwd').value != formularioCambiar.get('pwd2').value && formularioCambiar.get('pwd2').touched && formularioCambiar.get('pwd').touched "> Las contraseñas no coinciden</span>

    </div>
    <button type="submit" class="btn btn-primary"
            [disabled]="formularioCambiar.invalid || formularioCambiar.get('pwd2').value != formularioCambiar.get('pwd').value">Cambiar
    </button>
    <div class="alert alert-success" *ngIf="cambiado">
      <strong>Exito!</strong> La contraseña se ha cambiado, revisa el correo electrónico {{usuario?.Email}}.
    </div>
    <div class="alert alert-danger" *ngIf="error">
      <strong>Error!</strong> La contraseña NO se ha podido cambiar. Revise si el correo es correcto.
    </div>
  </form>
</div>
